/* 1920px - 공통 CSS */
.container{
  max-width: 1800px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* header {
  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(30px) saturate(180%);
  -webkit-backdrop-filter: blur(30px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.15);

} */

/* === 각 섹션별 풀페이지 스크롤 === */
main {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    /* scroll-snap-type: y proximity; */
    scroll-behavior: smooth;
}

main section {
  width: 100%;
  min-height: 100vh;
  /* scroll-snap-align: start;   */
  display: flex;
  align-items: center;
}

main footer {
  width: 100%;
  min-height: 56vh;
  /* scroll-snap-align: start;   */
  display: flex;
  align-items: center;
}

/* 섹션 -- 부드럽게 스크롤다운 */
/* #sec1,
#sec2,
#sec3 {
  opacity: .75;
  filter: blur(3px);
  transition: opacity 1s ease, filter 1s ease;
}

#sec1.active,
#sec2.active,
#sec3.active {
  opacity: 1;
  filter: blur(0);
} */



/* === 우측 - 햄버거 버튼 === */
/* .mobile_menu_toggle {
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    z-index: 999;
}

.mobile_menu_toggle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
} */




/* === 공통 타이틀 + 여백 === */
.section-header {
    position: absolute;
    left: 60px;
    top: 130px;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.25rem;
    /* position: static; */
    font-family: "SF_HambakSnow";
    line-height: var(--default-LH);
}


.section-title {
    /* font-size: 32px; */
    font-size: calc(var(--default-FZ)*2);
    line-height: var(--small-LH);
    font-weight: 600;
    color: #FFFFFF;
}

.section-sub {
    font-size: var(--default-FZ);
    font-weight: 500;
    color: #E5E2D7;
}

.year-header {
    position: absolute;
    left: 60px;
    top: 130px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;

    font-family: "SF_HambakSnow";
    line-height: var(--default-LH);
    color: #333;

    z-index: 1;
}

.year-sub {
    display: block;
    font-size: calc(var(--default-FZ)*4);
    line-height: var(--small-LH);
    margin-bottom: 20px;
}

.year-title {
    font-size: calc(var(--default-FZ)*1.5);
    line-height: var(--small-LH);
    word-break: keep-all;
}


/* === 햄버거 메뉴 === */
#mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: min(80%, 320px);
  /* max-width: 280px; */
  height: 100%;
  background: #fff;

  display: flex;
  flex-direction: column;
  /* padding: 24px; */
  
  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 1001;

}

#mobile-nav header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.875rem; 
}

/* 메뉴 open */
body.menu_active #mobile-nav {
  transform: translateX(0);
}

body.menu_active {
  overflow: hidden;
}

#mobile-nav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  max-width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 99999;
  transition: right .3s;
  overflow: visible;
}

body.menu_active #mobile-nav{
  right: 0;
}

#mobile-nav #close{
  display: none;
}

body.menu_active #mobile-nav #close{
  display: flex;
  position: fixed;
  top: 28px;
  right: 14px;
  width: 40px;
  height: 40px;
  z-index: 100000;
  background: transparent;
  border: 0;
  padding: 0;
}

/* 메뉴 리스트 */
#mobile-nav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mobile-nav nav li {
  border-bottom: 0.5px solid #d2c7b1;
}

#mobile-nav nav ul li:hover {
  background: #9B2335;
}

#mobile-nav nav ul li:hover a {
  color: #fff;
}

#mobile-nav nav a {
  font-size: calc(var(--default-FZ)*1.25);
  font-weight: 600;
  color: #222;
  text-decoration: none;
  display: block;

  transition: 0.2s;
}

/* 오버레이 */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--Blur, rgba(210, 210, 215, 0.45));
  backdrop-filter: blur(3px);
  
  display: flex;
  flex-direction: column;
  padding: 24px;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s;

  z-index: 1000;
}

/* 오버레이 - open */
body.menu_active .menu-overlay {
  opacity: 1;
  visibility: visible;
}


/* hover 효과 */
#mobile-nav nav a:hover {
  color: #6C5CE7; /* 포인트 컬러 */
}


#mobile-nav nav {
  flex: 1;
}

#mobile-nav nav ul li {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 21px;
  font-weight: 500;
}

#mobile-nav #close {
  display: none;
  background: none;
  border: none;
}


/* ====== 레이아웃 ====== */

/* Topbar */
header {
  width: 100%;
  height: 96px;
  background-color: #F5F3EC;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

header .mobile {
  width: 40px;
  height: 40px;
}

header .mobile > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* header .mobile {
  display: none;
} */



.topbar-inner {
    max-width: 1800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.875rem;
}


.topbar-logo {
    width: 60px;
    text-decoration: none;
    color: inherit;
}

/* ====== Center Nav ====== */
.pc-nav{
    flex: 1;
    display: flex;
    justify-content: center;
}

ul.nav {
    list-style: none;
    display: flex;
    align-items: center;
    /* gap: 36px; */
    gap: 3.75rem;
    font-weight: 600;
    color: var(--black);
}

ul.nav li:hover {
    color: #9B2335;
}

/* ====== 메인 배너 ====== */
.main-banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-banner figure {
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    display: block;
}


/* === 섹션 1 - 소개 === */
.heritage-intro {
    width: 100%;
    min-height: 100vh;       
    background: #4a4645;    
    display: flex;
    align-items: center;
    position: relative;

    background: url(../image/section-bg-01.jpg) no-repeat center / cover;
}

/* === 섹션 2 - 역사 속 문화유산 === */
.history {
  width: 100%;
  min-height: 100vh;        
  background: #4a4645;    
  display: flex;
  align-items: center;
  position: relative;

  background: url(../image/section-bg-03.jpg) no-repeat center / cover;
  cursor: none;
}



.custom-cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #9B2335;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: all .15s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.custom-cursor.show {
  opacity: 1;
  visibility: visible;
}

.custom-cursor.active {
  width: 80px;
  height: 80px;
  background: rgba(155, 35, 53, 0.9);
  border-color: rgba(155, 35, 53, 0.9);
}

.custom-cursor span {
  opacity: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.08em;
  transition: opacity 0.3s ease;
}

.custom-cursor.active span {
  opacity: 1;
}

/* 마우스 커서 -- 끝 */

.img-box-01 {
    position: absolute;
    left: 93px;
    top: 617px;
    width: 264px;
}

.img-box-01 img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-box-02 {
    position: absolute;
    left: 407px;
    top: 260px;
    width: 264px;
}

.img-box-02 img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-box-03 {
    position: absolute;
    right: 724px;
    top: 613px;
    width: 264px;
}

.img-box-03 img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-box-04 {
    position: absolute;
    right: 420px;
    top: 264px;
    width: 264px;
}

.img-box-04 img {
    display: block;
    width: 100%;
    height: 100%;
}


/* 액자 - 우측으로 띄우기 */
.history-info {
    position: absolute;
    left: 280px; /* 액자 우측 */
    top: 50%;

    transform: translateY(-50%) translateX(-20px);
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 324px;
    padding: 20px 24px;

    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.06);
    background: rgba(76, 71, 65, 0.95);
    box-shadow:
        inset 4px 4px 2px rgba(137, 137, 137, 0.25),
        0 8px 24px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    color: #fff;

    opacity: 0;
    visibility: hidden;

    transition: all .4s ease;
    text-align: justify;
    /* text-align: left; */

    z-index: 10;
}

.history-info h3 {
    font-size: 24px;
    font-family: 'SF_HambakSnow';
    line-height: normal;
}

.history-info p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.022em;
    line-height: 1.75;
    word-break: keep-all;
}

.hover-image:hover .history-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(0);
}







/* === 섹션 2 - 연도별 기록 === */
.since-year {
    width: 100%;
    height: 100vh;       
    background: #232015;
    background: url(../image/section-bg-04.png) no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.since-year .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.since-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:#fff;

    margin: 0;
    font-family: "SF_HambakSnow";
    font-size: calc(var(--default-FZ)*8.75);
    line-height: normal;

    opacity: 0;
    filter: blur(40px);
    transition: 
      opacity 1.5s ease,
      filter 3s cubic-bezier(0.22, 1, 0.36, 1),
      transform 1.5s ease;
}


.since-text.active {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}


.since-text span {
  font-size: 16px;
  color:#fff;
}



/* === 섹션 6 - 연도별 역사 === */

#sec1, #sec2, #sec3 {
  position: relative;
  background-color: #F5F3EC;
}

.history-slide {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.03);

  transition:
    opacity 1s ease,
    transform 1s ease;
}

.history-slide.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}


.year-header {
  position: absolute;
  left: 60px;
  top: 160px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.year-header span {
  font-size: calc(var(--default-FZ)*4);
  font-weight: 900;
  line-height: var(--default-LH);
}

.year-header h2 {
  margin: 0;
  line-height: calc(var(--default-LH)*0.94);
}

.img-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.img-wrap .img-01 {
    width: 25vw;
    min-width: 250px;
    height: auto;
    display: block;
}   

.img-wrap .img-02 {
  width: 22vw;
  min-width: 200px;
  height: auto;
}



.indicator {
  position: absolute;
  right: 60px;
  top: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 320px
}

.year-txt {
  color: #B8A26F;
}

.circle-wrap {
  position: absolute;
  left: 60px;
  top: 47%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: #006448;
  border-radius: 50%;
  z-index: 10;
}

.circle-wrap span {
  color: #B8A26F;
}

.line {
  position: absolute;
  left: 60px;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);  
  height: 1px;
  background-color: #B8A26F;
}


#current {
  line-height: var(--default-LH);
}

#current strong {
  color: #006448;
}


.mb-line {
  display: none;
}



/* === 섹션 7 - 파트너사 === */
main .partners {
  min-height: 26vh;
  background: #F5F3EC;    
  display: flex;
  align-items: center;
  scroll-snap-align: none;
}

.logo-slider {
  width: 100%;
  overflow: hidden;
}

.logo-track {
  display: flex;
  align-items: center;
  gap: 60px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.logo-track img {
  width: auto;
  height: 50px;
  flex-shrink: 0;
  object-fit: contain;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/* === footer === */
footer {
    width: 100%;
    min-height: 560px;
    background-color: #161616;
    color: #fff;
    position: relative;
}

.footer-left {
    position: absolute;
    left: 60px;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 140px);
}

.footer-title {
    font-size: calc(var(--default-FZ)*2);
    font-weight: 800;
}

.footer-left img {
    width: 60px;
}



.footer-right {
    position: absolute;
    right: 428px;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 252px;
}

.info-row-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-row:nth-child(1) {
    display: flex;
    gap: 28px;
}
.info-row:nth-child(2) {
    display: flex;
    gap: 70px;
}
.info-row:nth-child(3) {
    display: flex;
    gap: 48px;
}

.sns {
  display: flex;
  gap: 20px;
}
