@import url("reset.css");
@import url("layout.css");



.component .swiper,
.component .swiper-wrapper,
.component .swiper-pagination,
.component .swiper-button-next,
.component .swiper-button-prev {
  z-index: auto;
}

/* ---- 폰트 불러오기 ---- */
/* Pretendard */
/* Thin 100 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
/* ExtraLight 200 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
/* Light 300 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
/* Regular 400 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* Medium 500 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
/* SemiBold 600 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
/* Bold 700 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* ExtraBold 800 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
/* Black 900 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
/* ~~~~~~ g-market 불러오기 예정 ~~~~~~*/
/* Light 300 */
@font-face {
  font-family: 'GmarketSans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
/* Medium 500 */
@font-face {
  font-family: 'GmarketSans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
/* Bold 700 */
@font-face {
  font-family: 'GmarketSans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* SF 함박눈 */
@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* SB 어그로 300-500-700 */
@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}



/* ---- 노멀라이즈 ---- */
/* body 기본상태로 커스텀 */
/* * 전체선택자: 모든 선택자를 선택 */
* {
  letter-spacing: -0.02em; 
  /* outline: 1px solid red; */
}
body,ul,li{margin: 0; padding: 0; list-style: none;}
/* 폰트 적용 */
body{font-family: 'Pretendard', sans-serif;}

/* 카드 ui 그리드 설정 */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;   /* 자동 높이 조정 */
}

/* h태그 노멀라이즈 */
.h1,.h2,.h3,.h4,.h5,.h6,.p {
  margin: 0; font-weight: normal;
  /* inherit -> 기본값 */
  font-size: inherit;
}
/* 컬러 기본값, a태그 밑줄제거 */
a {color: inherit; text-decoration: none;}

/* ---- 라이브러리 ---- */
.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}
.fw-900{font-weight: 900;}

.fc-fff{color: #fff;}
.fc-222{color: #222;}
.fc-4f4f4f{color: #4f4f4f;}
.fc-d5d5d5{color:#d5d5d5}
.fc-ddd{color:#ddd}
.fc-454{color: #454243;}
.fc-666{color: #666;}
.fc-828282{color: #828282;}
.fc-e5e2d7{color: #e5e2d7;}
.fc-333 {
  color: #333333;
  font-size: calc(var(--default-FZ)*2);
}
.fc-9b2 {
  color: #9B2335; 
  font-size: var(--default-FZ);
  font-weight: 500;
}
.fc-b8a {
  color: #B8A26F;
  font-size: calc(var(--default-FZ)*2);
  font-weight: 600;
}

.Dongle{font-family: "Dongle";}
.Gowun-Dodum{font-family: "Gowun Dodum";}
.SF_HambakSnow{font-family: "SF_HambakSnow";}




/* .img-box img {
  width: 100%;
  display: block;
} */



/* =========================
   Design Tokens
========================= */

:root {

  /* layout */
  --max-width: 1440px;
  --default-LH: 160%;
  --small-LH: 150%;
  --header--height: 80px;
  --section-padding: 140px;
  --section-gap-sm: 16px;
  --section-gap-md: 24px;
  --section-gap-lg: 48px;
  --radius-sm: 12px;
  --radius-md: 20px;
  --radius-lg: 28px;

  /* typo */
  --default-FZ: 16px;
  --text-xl: 56px;
  --text-lg: 40px;
  --text-md: 24px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;

  /* color */
  --color-bg: #f6f5fb;
  --white: #ffffff;
  --black: #27262F;
  --color-text-sub: #666666;
  --color-line: #d9d5f3;
  --primary-dark-purple: #5642F1;
  --primary-dark-purple-02: #4D3BD9;
  --primary-dark-purple-03: #36297A;
  --color-primary-soft: #ede9ff;
  --color-gray-soft: #f3f3f6;



  /* shadow */
  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.04);
  --shadow-md: 0 10px 30px rgba(0, 0, 0, 0.08);

  /* transition */
  --transition: 0.3s ease;
}



/* Layout */
body {
  font-family: "Pretendard", serif;
  font-size: var(--default-FZ);
  line-height: var(--default-LH);
  color: var(--black);
  background-color: var(--white);
  font-weight: 500;
}

/* Typography */
.h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.6;
}